<div class="timeline-container">
  <div class="timeline-line"></div>

  <!-- Year ticks -->
  <div class="year-ticks">
    <div *ngFor="let year of years" class="year-tick">
      <div class="tick-line"></div>
      <div class="tick-label">{{ year }}</div>
    </div>
  </div>

  <!-- Bars and info -->
  <div class="bars">
    <div
      *ngFor="let exp of experiences"
      class="bar-wrapper {{exp.type}}"
      [ngStyle]="getBarStyle(exp.startYear, exp.endYear)"
      (mouseenter)="onHover(exp)"
      (mouseleave)="onHover(null)"
    >
      <div class="experience-bar" [ngClass]="[exp.type, exp.alignment]"></div>

      <!-- Info box -->
      <div
        class="info-box"
        *ngIf="hoveredItem === exp"
        [ngClass]="[exp.alignment, exp.type]"
      >

        <div class="info-content">
          {{ exp.info }}
        </div>
        <div class="info-line" [ngClass]="exp.alignment"></div>
      </div>
    </div>
  </div>
</div>
