<div class="about-layout">
  <!-- Left Column: description -->
  <div class="info">
    <h2>Causes and hobbies</h2>
    <p>In my free time I enjoy playing tennis with friends or in the league, reading and daydreaming.</p>
    <h3>Tennis</h3>
    <p>I've enjoyed playing tennis ever since I was a child and love playing against my friends
    or other tennis clubs in tennis leagues.</p>
    <h3>Causes</h3>
    <p>My greatest causes are sustainability and human equality regarding skin tone,
    background, gender and sexual orientation.</p>
    <h3>Travelling</h3>
    <p>Getting in touch with other cultures and nature is my biggest goal and I love everything about it.
      Travelling with friends and family is when I'm the happiest.
    Combining two interests - travelling and sustainability - lead to the target of trying to reach as many
    places as possible by train. I savor the calm atmosphere that naturally comes when traveling by train
    and have a thing for organizing trips. This combination lead to adventures by train taking me and friends
    to Paris, Brussels, Amsterdam, London, Edinburgh, Glasgow, Hamburg, Berlin, Copenhagen, Lund, Ystad,
      Stockholm, Venice and Milan.</p>
    <p>Feel free to check out some of my favourite travel memories on the interactive map. :)</p>

  </div>

  <!-- Right Column: interactive map -->
  <div class="map-holder">
    <div
      class="map-wrapper"
      leaflet
      [leafletOptions]="options"
      (leafletMapReady)="onMapReady($event)"
    ></div>

    <!-- Photo strip -->
    <div
      #bar
      class="photo-bar"
      [class.open]="hoveredPhotos.length"
    >
  <span class="trip-label" *ngIf="currentTripName">
    {{ currentTripName }}
  </span>

      <div class="strip">
        <!-- duplicated array for endless scroll -->
        <img *ngFor="let src of scrollingPhotos" [src]="src" />
      </div>
    </div>
  </div>
</div>
